USE [master]
GO
CREATE DATABASE [Premiership]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Premiership', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Premiership.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Premiership_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Premiership_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Premiership].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Premiership]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GOAL](
	[GOAL_ID] [int] NOT NULL,
	[MATCH_ID] [int] NOT NULL,
	[PLAYER_ID] [int] NOT NULL,
	[GOAL_ORDER] [int] NOT NULL,
	[OWN_GOAL] [int] NOT NULL,
 CONSTRAINT [PK_GOAL] PRIMARY KEY CLUSTERED 
(
	[GOAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MANAGER](
	[MANAGER_ID] [int] NOT NULL,
	[MANAGER_NAME] [nvarchar](50) NOT NULL,
	[NATION_ID] [int] NOT NULL,
 CONSTRAINT [PK_MANAGER] PRIMARY KEY CLUSTERED 
(
	[MANAGER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MATCH](
	[MATCH_ID] [int] NOT NULL,
	[MATCH_DATE] [date] NOT NULL,
	[HOME_TEAM_ID] [int] NOT NULL,
	[AWAY_TEAM_ID] [int] NOT NULL,
	[HOME_SCORE] [int] NULL,
	[AWAY_SCORE] [int] NULL,
 CONSTRAINT [PK_MATCH] PRIMARY KEY CLUSTERED 
(
	[MATCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NATION](
	[NATION_ID] [int] NOT NULL,
	[NATION_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NATION] PRIMARY KEY CLUSTERED 
(
	[NATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PLAYER](
	[PLAYER_ID] [int] NOT NULL,
	[PLAYER_NAME] [nvarchar](100) NOT NULL,
	[NATION_ID] [int] NOT NULL,
	[TEAM_ID] [int] NOT NULL,
 CONSTRAINT [PK_PLAYER] PRIMARY KEY CLUSTERED 
(
	[PLAYER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEAM](
	[TEAM_ID] [int] NOT NULL,
	[TEAM_NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TEAM] PRIMARY KEY CLUSTERED 
(
	[TEAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TEAM_MANAGER](
	[TEAM_MANAGER_ID] [int] NOT NULL,
	[TEAM_ID] [int] NOT NULL,
	[MANAGER_ID] [int] NOT NULL,
	[START_DATE] [date] NULL,
	[END_DATE] [date] NULL,
 CONSTRAINT [PK_TEAM_MANAGER] PRIMARY KEY CLUSTERED 
(
	[TEAM_MANAGER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TROPHY](
	[TROPHY_ID] [int] NOT NULL,
	[TROPHY_NAME] [nvarchar](50) NOT NULL,
	[PLAYER_ID] [int] NOT NULL,
	[TEAM_ID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [MANAGER]  WITH CHECK ADD  CONSTRAINT [FK_MANAGER_NATION] FOREIGN KEY([NATION_ID])
REFERENCES [NATION] ([NATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [MANAGER] CHECK CONSTRAINT [FK_MANAGER_NATION]
GO
ALTER TABLE [PLAYER]  WITH CHECK ADD  CONSTRAINT [FK_PLAYER_NATION] FOREIGN KEY([NATION_ID])
REFERENCES [NATION] ([NATION_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [PLAYER] CHECK CONSTRAINT [FK_PLAYER_NATION]
GO
ALTER TABLE [PLAYER]  WITH CHECK ADD  CONSTRAINT [FK_PLAYER_TEAM] FOREIGN KEY([TEAM_ID])
REFERENCES [TEAM] ([TEAM_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [PLAYER] CHECK CONSTRAINT [FK_PLAYER_TEAM]
GO
ALTER TABLE [TEAM_MANAGER]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_MANAGER_MANAGER] FOREIGN KEY([MANAGER_ID])
REFERENCES [MANAGER] ([MANAGER_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [TEAM_MANAGER] CHECK CONSTRAINT [FK_TEAM_MANAGER_MANAGER]
GO
ALTER TABLE [TEAM_MANAGER]  WITH CHECK ADD  CONSTRAINT [FK_TEAM_MANAGER_TEAM] FOREIGN KEY([TEAM_ID])
REFERENCES [TEAM] ([TEAM_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [TEAM_MANAGER] CHECK CONSTRAINT [FK_TEAM_MANAGER_TEAM]
GO
USE [master]
GO
